/* Split Pane */

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.2), 10.0, 0.0, 0.0, 10.0);
}

.shadow2 {
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.2), 10.0, 0.5, 0.5, 1.0);
}

#btnAgregarCarrito {
	-fx-background-color: #94d3b0;
}

#btnAgregarCarrito:hover {
	-fx-background-color: #7cbab1;
	-fx-cursor: hand;
}

#anchorPane {
	-fx-background-color: transparent;
}

